// put here bulma customizations
// $primary: blue;

$primary: #8aae92;
/*
.is-link
.is-info
.is-success
.is-warning
.is-danger
*/

@media screen and (min-width: 1025px) {
    .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block !important;
    }
    .navbar-item.is-hoverable:focus-within .navbar-dropdown {
        display: none;
    }
}

@import "~bulma/bulma";

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

html {
    scroll-behavior: smooth;
}

