// put here bulma customizations
// $primary: blue;

$primary: #8aae92;
$secondary: #8A94AE;
$secondary-dark: #7b86a4;
$pink-baby: #d952b7;

@media screen and (min-width: 1025px) {
    .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block !important;
    }
    .navbar-item.is-hoverable:focus-within .navbar-dropdown {
        display: none;
    }
}

@import "~bulma/bulma";
@import '~bulma-timeline';

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

html {
    scroll-behavior: smooth;
}

svg.linkedin-transition {
    transition: color 0.5s ease-out;
    color: #a7bfe6;
    &:hover {
        color: #3273dc;
    }
}

.timeline-marker.is-icon.is-pink {
    background-color: $pink-baby !important;
    border-color: $pink-baby !important;
    color: white !important;
}
.timeline-marker.is-icon.is-secondary {
    background-color: $secondary !important;
    border-color: #8A94AE !important;
    color: white !important;
}
.is-secondary  { 
    background-color: $secondary;
    color: white;

    &:hover {
        background-color: $secondary-dark;
        color: white;
    }
};


